<h1>1d20</h1>

<% if @die == 1 %>
  <ul>
    <li style="color: red"><%= @outcome %></li>
  </ul>
<% elsif @die == 20 %>
  <ul>
    <li style="color: green"><%= @outcome %></li>
  </ul>
<% else %>
  <ul>
    <li><%= @outcome %></li>
  </ul>
<% end %>
